# Зависимости
node_modules
.nuxt
.output
dist

# Конфигурационные файлы
*.config.js
*.config.ts
tailwind.config.js
vite.config.js
nuxt.config.js
eslint.config.mjs

# Компоненты от библиотек (shadcn и т.д.)
app/components/ui
app/lib

# Файлы lock
package-lock.json
yarn.lock
pnpm-lock.yaml

# Сгенерированные файлы
.nuxt
.output
coverage